@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie');

/* This is a comment in CSS! */

/* CSS Syntax:

selector {
	property: value;
	property: value;
	property: value;
}

*/

/* Type selector */

* {
	font-size: 1.0em;
	line-height: 1.5em;
	font-family: 'Elsie', cursive;
	color: black;
}

h1 {
	font-size: 2.0em;
	line-height: 1.5em;
	font-family: 'Clicker Script', cursive;
	color: black;
}

p {
	 /* select all <p> elements */
	 font-size: 16px; /* 16px, 7pt, 100%, 1em
	 pixels are exact; others are relative, but
	 ems have an advantage relative to pixels because
	 1 em = 16 pixels */
	 line-height: 1.5em;
}

figcaption {
	/* font-weight: : normal;
	font-size: 0.75em;
	line-height: 1.5em;
	font-family: Tahoma, "New Times Roman", serif; */
	font: normal 0.75em/1.5em 'Georgia', "Times New Roman", serif;
	color: red/* or HEX:
	#000000 = black
	*/;
}

/* Class selector (applied to as many elements as you like) */

.milk-text { /* select elements with class attribute="milk-text" */
	font: bold 2.6em 'Elsie', cursive;
	color: white;
	text-shadow: 0 2px 3px #000;
 }

 /* ID selector (apply to only one unique element per page */

#logo { /* select elements with id="logo" */
	background-color: aqua
}

/* Descendent Selector */

#logo h1 { /* selects <h1> if inside element with id="logo" */
	font-family: 'Clicker Script', cursive;
}

#logo h2 {
	font-family: 'Elsie', cursive;
}

/* Pseudo Selector */

/* Untouched and clicked links will look the same */

#details a:link, #details a:visited {
	color: black;
	text-decoration: none;
}

#details a:hover {
	color: green;
	text-decoration: underline;
}

#details a:active {
	color: red;
	text-decoration: bold;
}